* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
    transition: 0.2s ease-out;

}

/*
:root is where you declare and initialize global vars that you can
reuse throughout your stylesheet */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --mercurySpd: 0;
    --venusSpd: 0;
    --moonSpd: 0;
    --earthSpd: 0;
    --marsSpd: 0;
    --jupiterSpd: 0;
    --saturnSpd: 0;
    --uranusSpd: 0;
    --neptuneSpd: 0;
}

/* Page default zoom size */
#body {
    zoom: 110%;
}


html {
    font-size: 63.5%;
    overflow-x: hidden;
}

body {
    background: url('assets/GalaxyBg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--text-color);
    transition: 1s ease-in-out;
}


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    overflow: hidden;
}

/*--- Solar system ---*/
.solarBox {
    width: 700px;
    height: 600px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    scale: 1.3;
}

.solarSys {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

/* The SUN */
.sun {
    position: absolute;
    width: 7em;
    height: 7em;
    top: 10em;
    left: 25em;
    background-color: yellow;
    border-radius: 50%;
    border: 10px solid transparent;
    box-shadow: 0 0 0 4px #fffc5633,
                0 0 0 10px #fffc5622,
                0 0 0 18px #fffc5611,
                0 0 0 30px #fffc5608,
                0 0 0 50px #fffc5606,
                0 0 0 70px #fffc5604,
                0 0 0 100px #fffc5602;
    /*box-shadow: 0 0 11em white;*/
}


/* Planets Trajectories */
.mercury, .venus, .moon, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
}

/* Mercury trajectory */
.mercury {
    top: -3em;
    right: -3em;
    width: 11em;
    height: 11em;
    animation: orbit var(--mercurySpd) linear infinite;
}

/* Venus trajectory */
.venus {
    top: -5em;
    right: -5em;
    width: 15em;
    height: 15em;
    animation: orbit var(--venusSpd) linear infinite;
}

/* Moons trajectory */
.moon {
    top: 0.8em;
    right: 0.8em;
    width: 4em;
    height: 4em;
    animation: orbit var(--moonSpd) linear infinite;
}

/* Earths trajectory */
.earth {
    top: -7.5em;
    left: -7.5em;
    width: 20em;
    height: 20em;
    animation: orbit var(--earthSpd) linear infinite;
}

/* Mars trajectory */
.mars {
    top: -10.5em;
    right: -10.5em;
    width: 26em;
    height: 26em;
    animation: orbit var(--marsSpd) linear infinite;
}

/* Jupiter trajectory */
.jupiter {
    top: -15em;
    right: -15em;
    width: 35em;
    height: 35em;
    animation: orbit var(--jupiterSpd) linear infinite;
}

/* Saturn trajectory */
.saturn {
    top: -20em;
    right: -20em;
    width: 45em;
    height: 45em;
    animation: orbit var(--saturnSpd) linear infinite;
}

/* Uranus trajectory */
.uranus {
    top: -22.5em;
    right: -22.5em;
    width: 50em;
    height: 50em;
    animation: orbit var(--uranusSpd) linear infinite;
}

/* Uranus trajectory */
.neptune {
    top: -27.5em;
    right: -27.5em;
    width: 60em;
    height: 60em;
    animation: orbit var(--neptuneSpd) linear infinite;
}


/*-- Planets --*/
/* Earths & Moon */
.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter:before,
.saturn::before,
.uranus::before,
.neptune::before
{
    content: '';
    position: absolute;
    border-radius: 50%;
}

/* Mercury */
.mercury::before {
    top: 1em;
    right: 1.2em;
    width: 0.7em;
    height: 0.7em;
    background-color: #aca3a3;
    box-shadow: 0 0 0 1px #aca3a333,
    0 0 0 4px #aca3a322,
    0 0 0 7px #aca3a311;
}

/* Venus */
.venus::before {
    top: 1.0em;
    right: 1.7em;
    width: 1.4em;
    height: 1.4em;
    background-color: #eac224;
    box-shadow: 0 0 0 2px #eac22433,
    0 0 0 5px #eac22422,
    0 0 0 10px #eac22411;
}

/* Moon */
.moon::before {
    top: 0.5em;
    right: -0.2em;
    width: 0.5em;
    height: 0.5em;
    background-color: #ededed;
    box-shadow: 0 0 0 0.5px #ededed33,
    0 0 0 2px #ededed22,
    0 0 0 4px #ededed11;
}

/* Earths */
.earth::before {
    top: 2em;
    right: 1.8em;
    width: 1.5em;
    height: 1.5em;
    background-color: #0e4aff;
    box-shadow: 0 0 0 2px #4169e133,
    0 0 0 5px #4169e122,
    0 0 0 10px #4169e111;
}

/* Mars */
.mars::before {
    top: 3.4em;
    right: 2.9em;
    width: 1em;
    height: 1em;
    background-color: #cf4303;
    box-shadow: 0 0 0 2px #cf430333,
    0 0 0 5px #cf430322,
    0 0 0 10px #cf430311;
}

/* Jupiter */
.jupiter:before {
    top: 2.7em;
    right: 2.7em;
    width: 4em;
    height: 4em;
    background-color: #e8c78b;
    box-shadow: 0 0 0 4px #e8c78b33,
    0 0 0 8px #e8c78b22,
    0 0 0 15px #e8c78b11;
}

/* Saturn */
.saturn::before {
    top: 5em;
    right: 6em;
    width: 2em;
    height: 2em;
    background-color: #f5deb3;
    box-shadow: 0 0 0 3px var(--bg-color),
    0 0 0 6px burlywood,
    0 0 0 10px #f5deb322,
    0 0 0 15px #f5deb311;
}

/* Uranus */
.uranus::before {
    top: 6.8em;
    right: 6.5em;
    width: 1em;
    height: 1em;
    background-color: #44b1ff;
    box-shadow: 0 0 0 2px #44b1ff33,
    0 0 0 5px #44b1ff22,
    0 0 0 10px #44b1ff11;
}

/* neptune */
.neptune::before {
    top: 7.9em;
    right: 8.4em;
    width: 1em;
    height: 1em;
    background-color: #4169e1;
    box-shadow: 0 0 0 2px #4169e133,
    0 0 0 5px #4169e122,
    0 0 0 10px #4169e111;
}


/* Element spinning function */
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}



/* Menu */

.menu {
    position: absolute;
    top: 5%;
    left: 15px;
    height: 90%;
    width: 20%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ededed;
}

.object {
    width: 90%;
    height: 9%;
    background-color: #4d4f5172;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

image {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.speeder {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #ededed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    background: rgb(2,0,36);
background: linear-gradient(261deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.speeder button {
    width: 90%;
    height: 90%;
    font-size: 22px;
    font-family: roboto;
    background: rgb(2,0,36);
background: linear-gradient(261deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
}

.timer {
    position: absolute;
    top: 10px;
    right: 70px;
    width: 300px;
    height: 52px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: 3;
}



#date {
    width: 90%;
    height: 90%; 
    font-size: 20px;
    font-family: roboto;
    color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 5px solid #ededed;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 50px;
    
}


#Mercury:hover {
    border-top: 7px  solid #aca3a3;
    border-bottom: 7px  solid #aca3a3;
}

#Venus:hover {
    border-top: 7px  solid #eac224af;
    border-bottom: 7px  solid #eac224af;
}

#Earth:hover {
    border-top: 7px  solid royalblue;
    border-bottom: 7px  solid royalblue;
}

#Moon:hover {
    border-top: 7px  solid #c5c5c5;
    border-bottom: 7px  solid #c5c5c5;
}

#Mars:hover {
    border-top: 7px  solid #cf4303;
    border-bottom: 7px  solid #cf4303;
}

#Jupiter:hover {
    border-top: 7px  solid #e8c78b;
    border-bottom: 7px  solid #e8c78b;
}

#Saturn:hover {
    border-top: 7px  solid #f5deb3;
    border-bottom: 7px  solid #f5deb3;
}

#Uranus:hover {
    border-top: 7px  solid #44b1ff;
    border-bottom: 7px  solid #44b1ff;
}

#Neptune:hover {
    border-top: 7px  solid #0e4affe0;
    border-bottom: 7px  solid #0e4affe0;
}

.object:checked > .menu {
    width: 10%;
}